<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        <header id="myheader"></header>
        <div id="mycontent" class="row">
            <div class="col-3">
                @await Html.PartialAsync("DanhMuc")
                @await Component.InvokeAsync("Category")
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
        <footer id="myfooter">
            Bản quyền thuộc về &copy;HCMUE
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
