<div class="card">
    <ul class="list-group">
        <li class="list-group-item">IPhone 14</li>
        <li class="list-group-item">Mac M1 2021</li>
        <li class="list-group-item">Mac M2 2022</li>
    </ul>
</div>